apiVersion: rcs.dana.io/v1alpha1
kind: CappBuild
metadata:
  name: demo-cappbuild
  namespace: default
spec:
  buildFile:
    mode: Present
  source:
    type: Git
    contextDir: app
    git:
      url: https://github.com/example/repo.git
      revision: main
      cloneSecret:
        name: demo-clone-secret

  rebuild:
    mode: OnCommit

  output:
    image: ghcr.io/example/demo:latest
    pushSecret:
      name: demo-push-secret
