apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "container-app-operator.fullname" . }}-manager-role
  labels:
  {{- include "container-app-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - logging.banzaicloud.io
  resources:
  - syslogngflows
  - syslogngoutputs
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - nfspvc.dana.io
  resources:
  - nfspvcs
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - rcs.dana.io
  resources:
  - cappbuilds
  - capprevisions
  - capps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rcs.dana.io
  resources:
  - cappbuilds/finalizers
  - capps/finalizers
  verbs:
  - update
- apiGroups:
  - rcs.dana.io
  resources:
  - cappbuilds/status
  - capprevisions/status
  - capps/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rcs.dana.io
  resources:
  - cappconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - record.dns-v2.m.crossplane.io
  resources:
  - cnamerecords
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - serving.knative.dev
  resources:
  - domainmappings
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - serving.knative.dev
  resources:
  - revisions
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - shipwright.io
  resources:
  - buildruns
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - shipwright.io
  resources:
  - builds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - shipwright.io
  resources:
  - clusterbuildstrategies
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "container-app-operator.fullname" . }}-manager-rolebinding
  labels:
  {{- include "container-app-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "container-app-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "container-app-operator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'