name: tests
on:
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]

jobs:
  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.2.2

    - name: Cache Go tools (bin/)
      uses: actions/cache@v4
      with:
        path: |
          ./bin
        key: ${{ runner.os }}-tools-${{ hashFiles('Makefile') }}
        restore-keys: |
          ${{ runner.os }}-tools-

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true
        cache-dependency-path: go.sum

    - name: Run unit-tests
      run: make test

  e2e-tests:
    name: e2e-tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      IMAGE_REGISTRY: kind-registry:5000
      KIND_VERSION: v0.25.0
      K8S_VERSION: v1.30.4
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Cache Go tools (bin/)
        uses: actions/cache@v4
        with:
          path: |
            ./bin
          key: ${{ runner.os }}-tools-${{ hashFiles('Makefile') }}
          restore-keys: |
            ${{ runner.os }}-tools-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Start kind cluster
        uses: container-tools/kind-action@v2
        with:
          cluster_name: hub
          version: ${{env.KIND_VERSION}}
          node_image: kindest/node:${{env.K8S_VERSION}}
          kubectl_version: ${{env.K8S_VERSION}}
          registry: true

      - name: Build container-app image
        run: make docker-build docker-push IMG=${IMAGE_REGISTRY}/container-app-operator:test-${GITHUB_REF##*/}

      - name: Setup prerequisites
        run: make prereq

      - name: Deploy controller to cluster
        run: make install deploy IMG=${IMAGE_REGISTRY}/container-app-operator:test-${GITHUB_REF##*/}

      - name: Create CappConfig
        run: make create-cappConfig

      - name: Await controller to be ready
        uses: jupyterhub/action-k8s-await-workloads@v3
        with:
          workloads: ""
          namespace: "container-app-operator-system"
          max-restarts: 0

      - name: Run e2e tests
        run: make test-e2e